/* Responsive NaturalHeritage theme */

// Core variables and mixins
@import "breakpoint"; // Sass plugin used to generate responsive media queries
@import "mixins";

@import "NaturalHeritageSites/variables/variables_WSMA";
// import base variables after theme variables so calculations of dependent variables
// are based on the theme's variable settings
@import "variables";
@import "breakpoint-setup";

// Master page layout
@import "NaturalHeritageSites/layouts/_naturalHeritageSites-mp.scss";

// Skin-specific styles
@import "NaturalHeritageSites/_WSMA";

// Typography and other basic setup
@import "shared/basics";

// Master page elements
@import "shared/masterpage_styles";
@import "shared/modules/footer";

// Navigation controls
@import "NaturalHeritageSites/navigation/primary-responsive";
@import "NaturalHeritageSites/navigation/secondary-responsive";
@import "NaturalHeritageSites/navigation/auxiliary-responsive";

// Other components
@import "shared/icon_sprite";
@import "shared/forms";
@import "shared/buttons_flat";
@import "shared/modules/other-iParts";
@import "shared/modules/search";
@import "shared/modules/events-products";
@import "shared/modules/progress-tracker";
@import "shared/modules/query-menu";
@import "shared/modules/cart-charges";
@import "NaturalHeritageSites/telerik_overrides";
@import "NaturalHeritageSites/jumbotron";
@import "shared/modules/communities";
@import "shared/donor_site";
@import "NaturalHeritageSites/misc";
@import "shared/panel_callouts";
@import "shared/dashboards";
@import "shared/svg";

// #masterHeaderImage {
//     margin-top: 32px;
//     //margin-bottom: 10px;
// }

.carousel-caption {
    top: 170px;
}

.UtilityNavigation {
    text-align: right;
}

.RadMenu {
    a.rmLink {
        color: $color-black;
    }
    a:visited {
        color: $color-black;
    }
}

.Wrapper-HomePage {
    .RadMenu {
        a.rmLink {
            color: $color-white!important;
        }
        a:visited {
            color: $color-white!important;
        }
    }
}

.ProgressTracker2 {
    font-size: 135%;
    width: 75%;
    margin: 0 auto;
}

.ste-section {
    display: inline-block;
}

.breadcrumb-obo-container {
    height: 260px;
    background-image: url(images/Banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 60px;
    .Wrapper-HomePage & {
        display: none;
        background-image: none;
    }
}

.breadcrumb {
    display: block;
    margin-top: 120px;

    .PageTitle {
        color: white;
        font-size: 40px;
        font-weight: 300;
        margin-top: 18px;
    }
    a, span {
        font-size: 11px;
        font-weight: 300;
        color: white;
        &:visited {
            color: white;
        }
    }

}

/*************************
***  Expander
**************************/

.expander-container {
    .expander {
        background-color: #fafafa;
        border-bottom: 1px solid #A02A31;
        margin-bottom: 15px;
        margin-top: 25px;
        display: flex;
        .expander-head {
            padding: 40px 35px;
        }
        &.active {
            background-color: #fbf7f7;
            .expander-switch {
                button {
                    background-image: url(images/minus.svg);
                    // background-position: center;
                    // background-size: 25%;
                    // background-repeat: no-repeat;
                }
            }
            
            & + div {
                display: block;
            }
        }
    }
    .expander-body {
        display: none;
    }
    .expander-switch {
        display: flex;
        button {
        background-image: url(images/plus.svg);
        background-position: center;
        background-size: 25%;
        background-repeat: no-repeat;
        border: none;
        color: transparent;
        background-color: transparent;
        width: 100%;
        }
    }
}

/****************************************
/** imgBanner
/***************************************/

    .imgBanner .breadcrumb-obo-container {
        .inner-banner {
            color: white;
        }
        background-color: red;
        height: 418px;
    }
