// VARIABLES
// --------------------------------------------

// GLOBAL ELEMENTS
// --------------------------------------------

$theme-family:          Cities !default;
$theme-name:            Austin !default;
$view-type:             Desktop !default;

// Spirtes
// -------------------------
$header-sprite-path:        'images/CommonSprite.png' !default;

// Color Palette
// -------------------------

$color-base:                #3aabcf !default;
$color-callout:             #dc4f00 !default;
$color-secondary-a:         #23749d !default;
$color-secondary-b:         #009b96 !default;

$color-neutral:             #424242 !default;
$color-alt-bg:              #f4f5ed !default;

$color-base-dark:         desaturate(darken($color-base, 10%), 5%) !default;

$hover-highlight:           desaturate(lighten($color-base, 20%), 10%) !default;

// Scaffolding
// -------------------------

$border-style:          dotted !default;

// Links
// -------------------------

$link-color:            $color-secondary-a !default;

// Typography
// -------------------------
$font-family-base:      Segoe UI, Helvetica, Arial, sans-serif !default;

$font-size-base:        14px !default;

$headings-font-family:  Raleway, Verdana, sans-serif !default; 
$headings-font-weight:  200 !default;
$headings-color:        $color-neutral !default;

@import url("//fonts.googleapis.com/css?family=Raleway:200");

$font-size-h1:          350% !default;
$font-size-h2:          170% !default;
$font-size-h3:          130% !default;
$font-size-h4:          120% !default;
$font-size-h5:          100% !default;
$font-size-h6:          85% !default;

$h1-color:              $color-callout;
$h4-color:              $color-secondary-b;
$h5-color:              $color-secondary-b;

// Buttons 
// -------------------------
$btn-default-bg:                $color-base-dark !default;


// Components
// -------------------------
$component-active-color:         #fff !default;
$component-active-bg:            $color-base-dark !default;


// Navbar
// -------------------------

$navbar-default-link-hover-color:          #fff !default;
$navbar-default-link-hover-bg:             $color-neutral !default;
$navbar-default-link-active-color:         #fff !default;
$navbar-default-link-active-bg:            $color-callout !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

$navbar-default-bg:                        #d5d5d5 !default;

$navbar-default-toggle-bg:                 $color-base-dark !default;
$navbar-default-toggle-hover-bg:           darken($navbar-default-toggle-bg, 8%) !default;
$navbar-default-toggle-icon-bar-bg:        #fff !default;
$navbar-default-toggle-border-color:       transparent !default;

$navbar-default-dropdown-bg:                    $navbar-default-link-hover-bg;
$navbar-default-dropdown-link-color:            #fff !default;
$navbar-default-dropdown-link-hover-bg:         transparent;
$navbar-default-dropdown-link-hover-color:      desaturate(lighten($navbar-default-link-active-bg, 10%), 10%);
$navbar-default-dropdown-link-disabled-color:   $navbar-default-dropdown-link-color !default;


// Communities
// -------------------------
$communities-nav-hover-bg:          $hover-highlight !default;
$communities-nav-select-bg:         $component-active-bg !default;
$communities-link-hover-bg:         $communities-nav-select-bg !default;
$communities-alt-bg:                hsl(hue($color-neutral), saturation($color-neutral), 95%) !default;


// Logo
// -------------------------
@if ($view-type == 'Responsive') {
    $logo-default-margin-top:               38px !global !default;
}
@else if ($view-type == 'Desktop') {
    $logo-default-margin-top:               25px !global !default;
}