/* ==========================================================================
   PANELS (Bootstrap)
   ========================================================================== */
/* This is for the new PanelTemplateControl2 and will replace StandardPanel */

/* Base class */
.panel {
    border: 1px solid transparent;
}

/* this class is applied if the panel is configured to display a border */
.panel-border {
    border-color: $panel-default-border;
}

/* Panel contents */
.panel-body {
    padding: $panel-body-padding;
    @include clearfix();
}

/* Optional heading */
.panel-heading.Distinguish,
.panel-group .panel-heading {
    @include clearfix();
    padding: floor($panel-body-padding * 2 / 3) $panel-body-padding;
    border-bottom: 1px solid $panel-inner-border;
}

/* Within heading, strip any `h*` tag of its default margins for spacing. */
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
    display: inline;

    > a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

/* add, edit, configure, etc. icons that appear on the head of the panel */
.panel-heading-options {
    float: right;
    display: inline;
}

.panel-heading-options {
    .IconSprite, 
    .panel-heading-collapse-img,
    .panel-heading-collapse-text {
        margin-left: 4px;
        margin-right: 0;
        vertical-align: middle;
        display: inline-block;
    }
}

/**
 * Collapsable panels (aka, accordion)
 *
 * Wrap a series of panels in `.panel-group` to turn them into an accordion with
 * the help of our collapse JavaScript plugin.
 */

.panel-group {
    margin-bottom: 1em * $line-height-base;

    // Tighten up margin so it's only between panels
    .panel {
        margin-bottom: 0;
        border-radius: $panel-border-radius;
        overflow: hidden; // crop contents when collapsed

        + .panel {
            margin-top: 5px;
        }
    }

    .panel-heading {
        border-bottom: 0;
        background-color: $panel-default-heading-bg;
        @include clearfix();

        + .panel-collapse .panel-body {
            border-top: 1px solid $panel-inner-border;
        }
    }

    .panel-title {
        font-size: 125%;
        font-weight: normal;
        color: inherit;
    }

    .panel-footer {
        border-top: 0;

        + .panel-collapse .panel-body {
            border-bottom: 1px solid $panel-inner-border;
        }
    }
}

.panel-group .panel {
    border: 1px solid $panel-default-border;    
}

/* By default don't display fieldsets
 * They can be displayed using CSS classes "ShowFieldset" or "ShowLegend"
 */
.panel fieldset {
    border: none;
    padding: 0;
    margin: 0;

    legend { display: none; }
}

/* Use the PanelNoPadding class to remove the padding from a panel when it's not needed */
.PanelNoPadding {
    .panel, &.panel { border-width: 0; }
    .panel-heading {
        padding-left: 0;
        padding-right: 0;
    }
    .panel-body { padding: 0; }
}

/* ==========================================================================
   STANDARD PANEL 
   ========================================================================== */
/* Used by PanelTemplateControl */
/**
  * Example HTML (automatically generated by the PanelTemplateControl):
  * <div class="StandardPanel">
  *
  *     <div class="PanelHead">
  *         <h2 class="PanelTitle">Title of the panel</h2>
  *         <div class="PanelHeadOptions">
  *             <a href="IconSprite EditIcon">Edit Panel</a>
  *             <input type="image" class="PanelHeadCollapseImage" />
  *         </div>
  *     </div>
  *
  *     <div class="PanelBody">
  *         ...
  *     </div>
  *
  * </div>
  */
/* .StandardPanel <div> Entire panel - Used by skin PanelTemplateControl */
.StandardPanel {
    @extend .panel;
}
h2.PanelTitle { 
    border-bottom: none;
    margin: 0;
    display: inline;
}

/* Puts a border on the bottom of PanelHeads that incldue a title */
.PanelHead.Distinguish, 
.TitleBarCaption {
    @extend .panel-heading.Distinguish;
}
/* Controls the behavior of a StandardPanel and the appearance of the expand/collapse element within the PanelHead */
/* Currently not used for any specific styling */
/*.Collapsible{}*/

/* PanelHeadOptions wraps any options for the panel (edit, add, collapse, etc.) added to the PanelHead
   via the PanelTemplateControl base class */
.PanelHeadOptions {
    @extend .panel-heading-options;
}
/* The image or text used to hide a panel. Which displays is determined by the skin file. 
   (see <asiweb:PanelTemplateControl /> in the skin file.) */
.PanelHeadCollapseImage, 
.PanelHeadCollapseText, 
.PanelHeadOptionsBox,
.PanelHeadOptions .rbSkinnedButton {
    @extend .panel-heading-collapse-text;
}
/* The drop-down options box that displays for any iPart options that do not have a defined icon */
.PanelHeadOptionsBox {
    float: left;
}
.PanelHeadCollapseText {
    text-decoration: underline;
    font-weight: normal;
}

/* .PanelBody <div> Wrapper for the Body of a StandardPanel */
.PanelBody {
    @extend .panel-body;
    & & {
        /* To prevent double padding in nested PanelBodies */
        padding: 0;
    }
}

/* .PanelColumn <div> Wrapper for a Column of a StandardPanel */
.PanelColumn {
    display:table-cell;
    float: none;
    margin-left: 0.125em;
    vertical-align: top;
}