.RadMenu .rmSlide .rmGroup .rmTemplate {
    width:100%!important;
}

/*.RadMenu .rmSlide, .RadMenu_Context {
    position: absolute;
    overflow: hidden;
    display: none;
    float: left;
    top: 61px!important;
    width: 1000px!important;
    left: -250px!important;
} */

.MegaDropDownOuter {
    with: 100%;
}

@media (min-width: 768px) {
.RadMenu.RadMenu_WSMA {
    float: right;
    /* z-index: -100; */
    border: 1px solid black;
    }
}